.u-blue-text {
  color: #5F53D9 !important;
}

.u-text-right {
  text-align: right !important;
}
@media only screen and (max-width: 73.75em) {
  .u-text-right {
    text-align: left !important;
  }
}

.u-padding-bottom {
  padding-bottom: 110px !important;
}

.u-justify-center {
  justify-content: center !important;
}

.u-margin-bottom {
  margin-bottom: 100px !important;
}

.u-text-center {
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  height: 137px;
}

.page-id-415 .contact-form__box {
  margin: 60px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.h-padding-drive {
  padding-bottom: 130px;
}

.h-before-green::before {
  background-color: #49c146;
}

.h-before-darkgreen::before {
  background-color: #064254 !important;
}

.h-before-red::before {
  background-color: #d50051 !important;
}

.h-before-purple::before {
  background-color: #966093 !important;
}

.h-before-brown::before {
  background-color: #755237 !important;
}

.h-before-yellow::before {
  background-color: #fbaa19 !important;
}

.h-before-black::before {
  background-color: #3f4752 !important;
}

.h-before-blue::before {
  background-color: #268ecc;
}

.h-padding-60 {
  padding-top: 60px !important;
}

.h-mb-100 {
  margin-bottom: 100px !important;
}

.h-bg-change {
  background-color: #f4f4f4;
}

.h-padding-0 {
  padding: 0 20px !important;
}

.h-nowrap {
  flex-wrap: nowrap !important;
}

.accordeon-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.f-cont1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 42px;
  gap: 20px;
}
.f-cont1 .inf {
  margin-left: 80px;
}
.f-cont1-contener {
  width: 200px;
  height: 160px;
}
.f-cont1-contener h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #313131;
}
.f-cont1-contener ul {
  margin-top: 8px;
}
.f-cont1-contener ul li {
  margin-top: 16px;
  font-family: Varela;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.45px;
}
.f-cont1-contener ul a {
  color: #313131;
}
.f-cont1 button {
  align-self: center;
  width: 56px;
  height: 40px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 10px;
  background-color: #24781A;
  color: #fff;
}
.f-cont1 button:hover {
  transition: all 0.3s;
  transform: scale(1.1);
  transform: translate(0px, -5px);
  background-color: #2b9320;
}
.f-cont1 button:active {
  transform: translate(0px, -25px);
  background-color: #174911;
}
@media only screen and (max-width: 48em) {
  .f-cont1 {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .f-cont1 .inf {
    margin: 0;
  }
}

.f-cont2 {
  display: flex;
  width: 100%;
  height: 48px;
  align-items: center;
  justify-content: center;
  background-color: #F9F9F9;
}
.f-cont2 a {
  font-size: 14px;
  font-family: poppins;
  color: #313131;
  text-decoration: underline;
}

nav {
  display: flex;
  width: 100%;
  margin-top: 10px;
}
@media only screen and (max-width: 80em) {
  nav {
    margin: 0 auto;
    margin-top: 45px;
    width: 600px;
  }
}
@media only screen and (max-width: 48em) {
  nav {
    margin: 0 auto;
    margin-top: 45px;
    width: 50px;
  }
}
nav .nav__txt {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
nav .nav__txt a {
  display: inline-flex;
  align-items: center;
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.26px;
  color: #313131;
  gap: 8px;
  padding: 3px 7px 3px 7px;
}
nav .nav__txt a:hover {
  transition: all 0.6s;
  background-color: #F9F9F9;
  border-radius: 100px;
  box-shadow: 0px 0px 9px 1px rgba(106, 211, 234, 0.48);
  -webkit-box-shadow: 0px 0px 9px 1px rgba(106, 211, 234, 0.48);
  -moz-box-shadow: 0px 0px 9px 1px rgba(106, 211, 234, 0.48);
}
@media only screen and (max-width: 73.75em) {
  nav .nav__txt {
    margin-left: 0;
    width: 600px;
  }
}
@media only screen and (max-width: 48em) {
  nav .nav__txt {
    display: none;
  }
}

.hamburger {
  z-index: 11;
  display: none;
  position: relative;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #2b9320;
  border: 0;
  border-radius: 15px;
}
@media only screen and (max-width: 48em) {
  .hamburger {
    display: flex;
  }
}

.closeIcon {
  display: none;
  z-index: 100;
}

.menu {
  z-index: 10;
  border: 3px solid rgb(98, 98, 98);
  position: absolute;
  transform: translateY(-400%);
  transition: transform 0.2s;
  height: 320px;
  width: 210px;
  margin-left: -90px;
  top: 240px;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #F9F9F9;
  box-shadow: 0px 26px 358px 153px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 26px 358px 153px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 26px 358px 153px rgba(0, 0, 0, 0.57);
}
.menu a {
  display: flex;
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: Varela;
  font-size: 18px;
  font-weight: 400;
  line-height: 19.26px;
  color: #313131;
}
.menu a img {
  margin-right: 5px;
}

.showMenu {
  transform: translateY(0);
}

.menuIcon {
  position: relative;
}
.menuIcon em {
  display: inline-flex;
  margin-top: 25px;
  font-family: Varela;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.26px;
  color: #fff;
}

#menuIcon-span1 {
  position: absolute;
  width: 20px;
  margin-left: 7px;
  margin-top: 10px;
  border: 1px solid #fff;
}

#menuIcon-span2 {
  position: absolute;
  width: 20px;
  margin-left: 7px;
  margin-top: 20px;
  border: 1px solid #fff;
}

#closeIcon-span1 {
  position: absolute;
  width: 20px;
  margin-left: -12px;
  margin-top: 22px;
  border: 1px solid #fff;
  rotate: -45deg;
}

#closeIcon-span2 {
  position: absolute;
  transition: rotate 1s;
  width: 20px;
  margin-left: -12px;
  margin-top: 22px;
  border: 1px solid #fff;
  rotate: 45deg;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header .cont1 {
  display: flex;
  height: 16%;
  width: 100%;
  justify-content: flex-end;
  background-color: #F9F9F9;
}
header .cont1__txt {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
header .cont1__txt p {
  color: #313131;
  padding: 0px 40px 0px 8px;
  font-family: Varela;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.45px;
}
header .cont1__txt i {
  font-size: 13px;
}
@media only screen and (max-width: 73.75em) {
  header .cont1 {
    display: none;
  }
}
header .cont2 {
  display: flex;
  width: 100%;
  height: 85%;
  background-color: #fff;
  align-items: center;
}
@media only screen and (max-width: 73.75em) {
  header .cont2 {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
header .cont2 img {
  order: 1;
  max-width: 145px;
  width: 100%;
  margin-left: 130px;
}
@media only screen and (max-width: 73.75em) {
  header .cont2 img {
    margin-left: 0px;
  }
}
header .cont2__searchbar {
  display: flex;
  max-width: 680px;
  width: 100%;
  margin-left: 150px;
  margin-right: 80px;
  order: 2;
}
@media only screen and (max-width: 73.75em) {
  header .cont2__searchbar {
    order: 3;
    margin-left: 106px;
    margin-right: 106px;
    margin-top: 30px;
  }
}
header .cont2__searchbar input {
  max-width: 580px;
  width: 100%;
  height: 40px;
  background: #F9F9F9;
  border: 1px solid #D9D9D9;
  padding: 0;
  padding-left: 24px;
  border-right: 0;
}
header .cont2__searchbar button {
  width: 48px;
  height: 42px;
  background-color: #F9F9F9;
  border: 1px solid #D9D9D9;
  border-left: 0;
}
header .cont2__searchbar button i {
  scale: 1.4;
}
header .cont2__searchbar button:hover {
  transition: all 0.4s;
  background-color: #D9D9D9;
}
header .cont2__user {
  display: flex;
  width: 400px;
  margin-right: 40px;
  gap: 28px;
  order: 3;
}
@media only screen and (max-width: 73.75em) {
  header .cont2__user {
    width: 100px;
    order: 2;
    margin-left: 400px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 48em) {
  header .cont2__user {
    margin-left: 90px;
  }
}
header .cont2__user a {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  color: #313131;
}
header .cont2__user a p {
  font-family: Varela;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.45px;
}
@media only screen and (max-width: 73.75em) {
  header .cont2__user a p {
    font-size: 0;
  }
}
header .cont2__user a i {
  scale: 2;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(211, 211, 211);
}

.site {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.banner {
  margin-top: 19px;
}
.banner img {
  width: 100%;
}

.und-banner {
  display: flex;
  max-width: 1440px;
  justify-content: center;
  padding: 48px 0 48px 0;
  background-color: #6AD3EA;
  margin-top: -3px;
}
@media only screen and (max-width: 48em) {
  .und-banner {
    display: none;
  }
}
.und-banner div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 28px;
}
@media only screen and (max-width: 80em) {
  .und-banner div {
    max-width: 800px;
    width: 100%;
  }
}
.und-banner img {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
}
.und-banner p {
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.26px;
  color: #fff;
}

.best-prod {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  height: 767px;
  background-color: #F9F9F9;
  align-items: center;
}
.best-prod h2 {
  display: inline-flex;
  align-self: flex-start;
  margin-left: 130px;
  margin-top: 64px;
  margin-bottom: 64px;
  font-family: Varela;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.53px;
}
.best-prod__Product-1 {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 480px;
}
.best-prod__Product-1-img {
  display: flex;
  align-items: center;
  width: 240px;
  height: 280px;
  background-color: #fff;
  margin: 0 auto;
  z-index: 1;
}
.best-prod__Product-1-img img {
  margin: 0 auto;
  width: 220px;
  height: 280px;
}
.best-prod__Product-1-txt {
  display: flex;
  width: 280px;
  height: 284px;
  gap: 8px;
  border-radius: 10px;
  margin-top: -84px;
  background-color: #fff;
}
.best-prod__Product-1-txt-p {
  margin: 0 auto;
  margin-top: 108px;
  width: 220px;
  height: 98px;
  gap: 24px;
  opacity: 0px;
  text-align: center;
}
.best-prod__Product-1-txt-p p {
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.26px;
}
.best-prod__Product-1-txt-p em {
  display: inline-block;
  margin-top: 24px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}
.best-prod__Product-1-txt-p #crossed {
  margin-left: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #F93A3A;
  text-decoration: line-through;
}
.best-prod__Product-1-txt-p a {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  background-color: #24781A;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
.best-prod__Product-1-txt-p a:hover {
  transition: all 0.2s;
  background-color: #329c26;
  transform: scale(1.06);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  z-index: 4;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: transparent;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -22px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper2 i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper2 i:first-child {
  left: -22px;
}

.wrapper2 i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  position: relative;
  scroll-snap-align: start;
  list-style: none;
  flex-direction: column;
  border-radius: 8px;
}

.card-1 {
  display: flex;
  align-self: flex-start;
  position: absolute;
  z-index: 3;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}

#discount {
  top: 8px;
  background-color: #F93A3A;
}

#new {
  top: 42px;
  background-color: #52BF45;
}

#new1 {
  top: 8px;
  background-color: #52BF45;
}

.banner2 img {
  max-width: 1440px;
  width: 100%;
}

.wrapper2 {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper2 i {
  top: 50%;
  z-index: 4;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: transparent;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper2 i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper2 i:first-child {
  left: -22px;
}

.wrapper2 i:last-child {
  right: -22px;
}

.wrapper2 i {
  top: 50%;
  z-index: 4;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: transparent;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper2 i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper2 i:first-child {
  left: -22px;
}

.wrapper2 i:last-child {
  right: -22px;
}

.wrapper2 .carousel2 {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel2 :where(.card2, .img2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel2 .card2 {
  position: relative;
  scroll-snap-align: start;
  list-style: none;
  flex-direction: column;
  border-radius: 8px;
}

.card-1 {
  display: flex;
  align-self: flex-start;
  position: absolute;
  z-index: 3;
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #fff;
}

#see-more {
  margin-top: 56px;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  background-color: #24781A;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

#see-more:hover {
  transition: all 0.3s;
  background-color: #329c26;
  transform: scale(1.04);
}

#best-prod2 {
  height: 800px;
}

.why-us {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  width: 100%;
  justify-content: center;
  margin-top: 88px;
}
.why-us h3 {
  max-width: 580px;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  font-family: Varela;
  font-size: 48px;
  font-weight: 400;
  line-height: 57.79px;
  color: #313131;
}
.why-us div {
  max-width: 580px;
  width: 100%;
  height: 100%;
}
.why-us div p {
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #313131;
}
.why-us div a {
  display: block;
  margin-top: 32px;
  color: #313131;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  height: 320px;
  margin-top: 95px;
  background-color: #24781A;
}
.newsletter h3 {
  font-family: Varela;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.16px;
  text-align: center;
  color: #fff;
}
.newsletter .email-input {
  display: flex;
  align-items: center;
  max-width: 580px;
  width: 100%;
  height: 56px;
  margin-top: 24px;
  border-radius: 16px;
  background-color: #fff;
}
.newsletter .email-input input {
  width: 80%;
  margin-left: 24px;
  border: 0;
  border-radius: 16px;
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.newsletter .email-input input:focus {
  outline: none;
}
.newsletter .email-input button {
  width: 80px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #24781A;
  font-size: 25px;
  color: #fff;
}
.newsletter .email-input button:hover {
  transition: all 0.3s;
  background-color: #329c26;
  transform: scale(1.04);
}
.newsletter p {
  max-width: 480px;
  width: 100%;
  height: 48px;
  margin-top: 24px;
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.blog {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #F9F9F9;
  padding-bottom: 50px;
}
.blog h2 {
  align-self: flex-start;
  margin-top: 64px;
  margin-left: 128px;
  font-family: Varela;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.53px;
  color: #313131;
}
.blog-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1180px;
  width: 100%;
  height: 320px;
  margin-top: 64px;
  gap: 20px;
}
.blog-cont-img {
  max-width: 580px;
  width: 100%;
  height: 320px;
}
.blog-cont-img img {
  max-width: 580px;
  width: 100%;
  height: 320px;
}
.blog-cont-txt {
  max-width: 580px;
  width: 100%;
  height: 320px;
  color: #313131;
}
.blog-cont-txt h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.blog-cont-txt p {
  margin-top: 24px;
  font-family: Varela;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.blog-cont-txt a {
  display: inline-block;
  margin-top: 24px;
  font-family: Varela;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.26px;
  color: #313131;
}
@media only screen and (max-width: 73.75em) {
  .blog-cont {
    width: 580px;
    margin-bottom: 200px;
  }
}
@media only screen and (max-width: 48em) {
  .blog-cont {
    scale: 0.8;
    margin-bottom: 100px;
  }
}
@media only screen and (max-width: 30em) {
  .blog-cont {
    scale: 0.6;
    margin-bottom: 0;
  }
}
.blog .reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel,
  .wrapper2 .carousel2 {
    grid-auto-columns: calc(50% - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel,
  .wrapper2 .carousel2 {
    grid-auto-columns: 100%;
  }
}
/*# sourceMappingURL=assets/css/main.css.map */
