.u-blue-text {
  color: #5F53D9 !important;
}

.u-text-right {
  text-align: right !important;
}
@media only screen and (max-width: 73.75em) {
  .u-text-right {
    text-align: left !important;
  }
}

.u-padding-bottom {
  padding-bottom: 110px !important;
}

.u-justify-center {
  justify-content: center !important;
}

.u-margin-bottom {
  margin-bottom: 100px !important;
}

.u-text-center {
  text-align: center;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

header {
  height: 137px;
}

.page-id-415 .contact-form__box {
  margin: 60px 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
}

.h-padding-drive {
  padding-bottom: 130px;
}

.h-before-green::before {
  background-color: #49c146;
}

.h-before-darkgreen::before {
  background-color: #064254 !important;
}

.h-before-red::before {
  background-color: #d50051 !important;
}

.h-before-purple::before {
  background-color: #966093 !important;
}

.h-before-brown::before {
  background-color: #755237 !important;
}

.h-before-yellow::before {
  background-color: #fbaa19 !important;
}

.h-before-black::before {
  background-color: #3f4752 !important;
}

.h-before-blue::before {
  background-color: #268ecc;
}

.h-padding-60 {
  padding-top: 60px !important;
}

.h-mb-100 {
  margin-bottom: 100px !important;
}

.h-bg-change {
  background-color: #f4f4f4;
}

.h-padding-0 {
  padding: 0 20px !important;
}

.h-nowrap {
  flex-wrap: nowrap !important;
}

.accordeon-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 592px;
  margin-top: 120px;
  background: #008ECC;
}

.f- {
  display: flex;
  flex-direction: row;
  max-width: 1087px;
  margin-left: 8.5%;
  margin-top: 80px;
}
.f-cont1 {
  max-width: 383px;
  width: 100%;
  height: 349px;
  color: #fff;
}
.f-cont1 p {
  margin-top: 34px;
  font-family: HanKen Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}
.f-cont1 .fa-brands {
  color: #fff;
}
.f-cont1 .fa-solid {
  color: #fff;
}
.f-cont1-contact {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.f-cont1-contact-1 {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
.f-cont1-contact-1 em {
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 0;
}
.f-cont1-contact-1 p {
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-top: 2px;
}
.f-cont1-download {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
@media only screen and (max-width: 30em) {
  .f-cont1-download {
    margin-left: -20px;
    scale: 0.9;
  }
}
.f-cont2 {
  display: flex;
  flex-direction: row;
  margin-left: 90px;
  max-width: 610px;
  width: 100%;
  color: #fff;
}
.f-cont2-column1 {
  width: 224px;
}
.f-cont2-column1-h3 {
  height: 36px;
  font-family: hanken Grotesk;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
}
.f-cont2-column1 a {
  color: #fff;
}
.f-cont2-column1 li {
  margin-left: 30px;
  list-style: disc;
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 37px;
  text-align: left;
}
.f-cont2-column2 {
  width: 239px;
  margin-left: 80px;
}
.f-cont2-column2-h3 {
  width: 172px;
  height: 36px;
  font-family: hanken Grotesk;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
}
.f-cont2-column2 a {
  color: #fff;
}
.f-cont2-column2 li {
  margin-left: 30px;
  list-style: disc;
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 37px;
  text-align: left;
}
.f-cont2 a:hover {
  transition: all 0.2s;
  color: rgb(59, 59, 59);
}

.copyright {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 83px;
  text-align: center;
}
.copyright-line {
  width: 99.65%;
  border: 1px solid #05ABF3;
}
.copyright-txt {
  margin-top: 30px;
  font-family: hanken Grotesk;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

@media (max-width: 80em) {
  footer {
    height: auto;
  }
  .f- {
    flex-direction: column;
  }
  .f-cont2 {
    margin-left: 0px;
    margin-top: 50px;
  }
  .copyright {
    margin-bottom: 30px;
  }
}
@media (max-width: 48em) {
  .f-cont2 {
    flex-direction: column;
  }
  .f-cont2-column2 {
    margin-left: 0px;
    margin-top: 30px;
  }
}
nav {
  display: flex;
  max-width: 1400;
  width: 100%;
  height: 69px;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #EDEDED;
}
nav .nav-kont {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
nav .nav-kont div {
  display: flex;
}
nav .nav-kont div .nav-kont--btn {
  display: flex;
  align-items: center;
  background-color: #F3F9FB;
  margin-right: 14px;
  padding: 9px 14px 9px 14px;
  border-radius: 18px;
  gap: 6px;
}
nav .nav-kont div a {
  font-family: hanken Grotesk;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: right;
  color: #222222;
}
nav .nav-kont div a:hover {
  transition: all 0.4s ease-out;
  background: #008ECC;
  color: #fff;
}
nav .nav-kont div a:hover .fa-solid {
  transition: all 0.4s ease-out;
  color: #fff;
}

@media (max-width: 80em) {
  nav {
    display: none;
  }
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
}

.cont1 {
  display: flex;
  width: 100%;
  height: 42px;
  background-color: #f5f5f5;
}
.cont1__d1 {
  width: 50%;
  height: 100%;
  margin-bottom: 10px;
}
.cont1__d1-p1 {
  margin-top: 14px;
  margin-left: 10%;
  font-family: Hanken Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #666666;
}
.cont1__d2 {
  display: flex;
  width: 50%;
  height: 100%;
  background: #f5f5f5;
}
.cont1__d2-txt {
  display: flex;
  margin-left: auto;
  margin-right: 120px;
  align-items: center;
  font-family: Hanken Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  gap: 14px;
}
.cont1__d2-txt-p1 {
  display: flex;
  gap: 6px;
  color: #666666;
}
@media only screen and (max-width: 30em) {
  .cont1__d2-txt-p1 {
    font-size: 12px;
  }
}
.cont1__d2-txt-p1 span {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}
.cont1__d2-txt-p2 {
  display: flex;
  gap: 6px;
  color: #666666;
}
@media only screen and (max-width: 30em) {
  .cont1__d2-txt-p2 {
    font-size: 12px;
  }
}
.cont1__d2-txt-p3 {
  display: flex;
  gap: 6px;
  color: #666666;
}
@media only screen and (max-width: 30em) {
  .cont1__d2-txt-p3 {
    font-size: 12px;
  }
}
.cont1__d2-txt-span {
  height: 18px;
  border: 1px solid #D9D9D9;
}

.cont2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #EDEDED;
}
.cont2 .logo-div {
  display: flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cont2 .logo-div__bars a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background: #F3F9FB;
  border-radius: 10px;
}
.cont2 .logo-div__bars a:hover {
  background: rgb(238, 238, 238);
}
@media only screen and (max-width: 80em) {
  .cont2 .logo-div {
    order: 1;
    margin-left: 5%;
  }
}
.cont2 .search-div {
  display: flex;
  width: 35%;
  align-items: center;
  margin-left: 5%;
}
.cont2 .search-div__bar {
  display: flex;
  align-items: center;
  max-width: 507px;
  width: 100%;
  height: 48px;
  border-radius: 10px;
  background: #F3F9FB;
}
.cont2 .search-div__bar-1-btn {
  margin-left: 15px;
  border: 0;
  background-color: transparent;
}
.cont2 .search-div__bar-1-btn:hover {
  text-shadow: 0px 0px 2px white, 0 0 3px rgb(169, 169, 169);
}
.cont2 .search-div__bar-1-btn:active {
  text-shadow: 0 0 4px rgb(149, 149, 149);
}
.cont2 .search-div__bar .ul {
  display: inline-flex;
  text-align: center;
  margin-left: auto;
  margin-right: 12px;
  max-width: 50px;
  width: 20%;
  height: 40px;
}
.cont2 .search-div__bar .ul a {
  width: 100%;
  height: 100%;
}
.cont2 .search-div__bar .ul a:hover {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 100px;
}
.cont2 .search-div__bar .ul .fa-list-ul {
  margin-top: 12px;
}
.cont2 .search-div__bar-margin {
  margin-left: 16px;
}
.cont2 .search-div__bar input {
  height: 18px;
  max-width: 250px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border: 0;
  background-color: transparent;
  font-family: Hanken Grotesk;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.cont2 .search-div__bar input:focus {
  outline: none;
}
.cont2 .person-menu {
  display: flex;
  align-items: center;
  width: 25%;
  height: 100%;
}
.cont2 .person-menu__cont {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}
.cont2 .person-menu__cont span {
  margin-left: 20px;
  margin-right: 20px;
}
.cont2 .person-menu__cont a {
  font-family: HanKen Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #666666;
}
.cont2 .person-menu__cont i {
  margin-right: 6px;
}
@media only screen and (max-width: 80em) {
  .cont2 .person-menu {
    order: 2;
  }
}
@media only screen and (max-width: 48em) {
  .cont2 .person-menu {
    scale: 0.75;
  }
}

@media (max-width: 80em) {
  header {
    height: 100%;
  }
  .cont1 {
    flex-direction: column;
    align-content: center;
  }
  .cont1__d1 {
    display: none;
  }
  .cont1__d2 {
    width: 100%;
    margin-top: 10px;
  }
  .cont1__d2-txt {
    margin: 0 auto;
  }
  .cont2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .cont2 .person-menu__cont .cont1__d2-txt-span {
    height: 40px;
  }
  .cont2 .person-menu__cont span {
    margin-left: 10px;
    margin-right: 10px;
  }
  .cont2 .person-menu__cont a {
    font-size: 0px;
  }
  .cont2 .person-menu__cont i {
    padding: 10px 12px 10px 10px;
    border-radius: 10px;
    font-size: 22px;
    margin-right: 0px;
  }
  .cont2 .person-menu__cont i:hover {
    transition: all 0.3s;
    background-color: #f5f5f5;
  }
  .cont2 .search-div {
    display: flex;
    width: 40%;
    align-items: center;
    order: 3;
    margin-bottom: 10px;
  }
  .cont2 .search-div__bar .ul {
    display: none;
  }
}
body {
  background: #eeeeee;
}

.fa-solid,
.fa-brands {
  color: #008ECC;
}

.site {
  display: flex;
  flex-direction: column;
  width: 1440px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.slideshow-container {
  display: flex;
  justify-content: center;
}

.h2-line {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #ededed;
  justify-content: space-between;
}
.h2-line__p1 {
  font-family: hanken Grotesk;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding-bottom: 16px;
  border-bottom: 3px solid #008ECC;
  color: #666666;
}
.h2-line__p1 span {
  color: #008ECC;
}
@media only screen and (max-width: 48em) {
  .h2-line__p1 {
    margin-left: 12px;
  }
}
.h2-line__a1 {
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}
.h2-line__a1 a {
  color: #222222;
}
.h2-line__a1 span {
  color: #008ECC;
  font-size: 22px;
  margin-left: 6px;
}
@media only screen and (max-width: 48em) {
  .h2-line__a1 {
    margin-right: 12px;
  }
}

.mySlides {
  margin-top: 20px;
  max-width: 1200px;
  width: 100%;
}
.mySlides a {
  margin-top: 110px;
  color: #008ECC;
}
.mySlides .prev {
  user-select: none;
  display: flex;
  width: 86px;
  height: 86px;
  align-items: center;
  justify-content: center;
  border: 8px solid #FFFFFF;
  border-radius: 100px;
  background: #F3F9FB;
  margin-right: auto;
  margin-left: -50px;
  animation: example 0.5s normal forwards;
  -webkit-animation: example 0.5s normal forwards;
  -moz-animation: example 0.5s normal forwards;
  -o-animation: example 0.5s normal forwards;
}
@media only screen and (max-width: 80em) {
  @keyframes example {
    from {
      scale: 1;
      margin-left: -50px;
    }
    to {
      scale: 0.8;
      margin-left: -10px;
    }
  }
}
.mySlides .prev:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px 9px rgba(0, 0, 0, 0.07), inset 0px 0px 30px 9px rgba(0, 0, 0, 0.07);
  border: 8px solid #ebebeb;
}
.mySlides .prev:active {
  box-shadow: 0px 0px 30px 9px rgba(0, 0, 0, 0.11), inset 0px 0px 30px 9px rgba(0, 0, 0, 0.3);
  border: 8px solid #b6b6b6;
}
.mySlides .next {
  user-select: none;
  display: flex;
  width: 86px;
  height: 86px;
  align-items: center;
  justify-content: center;
  border: 8px solid #FFFFFF;
  border-radius: 100px;
  background: #F3F9FB;
  margin-left: auto;
  margin-right: -134px;
  z-index: 1;
  animation: example 0.5s normal forwards;
  -webkit-animation: example1 0.5s normal forwards;
  -moz-animation: example1 0.5s normal forwards;
  -o-animation: example1 0.5s normal forwards;
}
@media only screen and (max-width: 80em) {
  @keyframes example1 {
    from {
      scale: 1;
      margin-right: -134px;
    }
    to {
      scale: 0.8;
      margin-right: -95px;
    }
  }
}
.mySlides .next:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 30px 9px rgba(0, 0, 0, 0.07), inset 0px 0px 30px 9px rgba(0, 0, 0, 0.07);
  border: 8px solid #ebebeb;
}
.mySlides .next:active {
  box-shadow: 0px 0px 30px 9px rgba(0, 0, 0, 0.11), inset 0px 0px 30px 9px rgba(0, 0, 0, 0.3);
  border: 8px solid #b6b6b6;
}

.spn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 7px;
}
.spn-normal {
  left: -1025px;
  bottom: 33px;
  position: relative;
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 100px;
}
.spn-selected {
  left: -1025px;
  bottom: 32px;
  position: relative;
  width: 25px;
  height: 10px;
  background: #fff;
  border-radius: 100px;
}

.img1 {
  background-image: url("/img/tst.png");
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 316px;
  border-radius: 16px;
}

.img2 {
  background: rgb(0, 255, 81);
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 316px;
  border-radius: 16px;
}

.img3 {
  background: rgb(0, 0, 255);
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 316px;
  border-radius: 16px;
}

.img4 {
  background: rgb(255, 0, 51);
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 316px;
  border-radius: 16px;
}

.img5 {
  background: rgb(191, 255, 0);
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 316px;
  border-radius: 16px;
}

.window-shop-phones {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
.window-shop-phones-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  gap: 16px;
}
.window-shop-phones-cont__1 {
  display: flex;
  width: 227px;
  height: 100%;
  font-size: 0;
}
.window-shop-phones-cont__1 a {
  border: 1px solid #EDEDED;
  border-radius: 15px;
}
.window-shop-phones-cont__1 a:hover {
  transition: box-shadow 0.2s;
  border: 1px solid #008ECC;
  border-radius: 15px;
  box-shadow: 0px 0px 46px -15px rgba(0, 0, 0, 0.82);
}
.window-shop-phones-cont__1 img {
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
.window-shop-phones-cont__1 em {
  display: block;
  margin: 10px 0px 10px 11px;
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  color: #249B3E;
}
.window-shop-phones-cont__1-txt {
  width: 100%;
  background-color: #fff;
  border-radius: 0px 0px 15px 15px;
}
.window-shop-phones-cont__1-txt p {
  margin: 12px 0px 0px 12px;
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  color: #222222;
}
.window-shop-phones-cont__1-txt em {
  display: inline-block;
  margin: 10px 0px 0px 12px;
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: #222222;
}
.window-shop-phones-cont__1-txt .crossed {
  text-decoration: line-through;
  font-weight: 400;
}
.window-shop-phones-cont__1-line {
  display: flex;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 202px;
  width: 100%;
  border: 1px solid #EDEDED;
}

.Categories {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}
.Categories-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 40px;
  gap: 46px;
}
.Categories-cont-1 {
  display: flex;
  flex-direction: column;
  max-width: 132px;
  width: 100%;
  height: 172px;
  text-align: center;
}
.Categories-cont-1-circle {
  max-width: 132px;
  width: 100%;
  height: 132px;
  background-color: #f5f5f5;
  border-radius: 100px;
  border: 1px solid transparent;
}
.Categories-cont-1-circle .margin10 {
  margin-top: 11%;
}
.Categories-cont-1-circle:hover {
  border: 1px solid #008ECC;
  box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}
.Categories-cont-1 p {
  margin-top: 20px;
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #222222;
}

.top-brands {
  display: flex;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 120px;
}

.wrapper {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 16px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  width: 389px;
  height: 206px;
  list-style: none;
  background: black;
  cursor: pointer;
  flex-direction: column;
  border-radius: 16px;
}

.card .img img {
  width: 100%;
  height: 206px;
}

.daily {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 110px;
}
.daily-cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.daily-cont-1 {
  max-width: 187px;
  width: 100%;
  margin-top: 40px;
  text-align: center;
}
.daily-cont-1-square {
  display: flex;
  max-width: 187px;
  width: 100%;
  height: 187px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 16px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
}
.daily-cont-1-square img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
.daily-cont-1 em {
  font-family: hanken Grotesk;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #666666;
}
.daily-cont-1 p {
  margin-top: 4px;
  font-family: hanken Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #222222;
}
.daily-cont-1-square:hover {
  border: 1px solid #008ECC;
  box-shadow: 0px 0px 29px -8px rgba(0, 0, 0, 0.55);
  transition: all 0.3s;
}

@media screen and (max-width: 80em) {
  .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
    margin-left: 100px;
  }
}
@media screen and (max-width: 56.25em) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
    margin-left: 20%;
  }
}
@media screen and (max-width: 30em) {
  .wrapper .carousel {
    margin-inline: 10px;
  }
}
/*# sourceMappingURL=assets/css/main.css.map */
